# APP
PORT=1889
HOST=localhost
NODE_ENV=development

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/translator?schema=public"

# BOT
BOT_TOKEN=
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_IMAGE_MODEL=deepseek-chat
AI_PROVIDER=openai
OPENAI_API_URL=https://api.openai.com
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_IMAGE_MODEL=gpt-4o

# ADMIN
ADMIN_API_KEY=your_admin_key_here

# CACHE
CACHE_PROVIDER=memory  # memory або redis
REDIS_KEY_PREFIX=translator:

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MONITORING & LOGGING
LOG_LEVEL=debug  # debug, info, warn, error
ENABLE_PROMETHEUS=true
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# OPENTELEMETRY
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
OTEL_SERVICE_NAME=translator-bot
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=development
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=1.0 